/*debugging
*{
    border: 1px red solid;
}
*/
/*colors*/
.darker{
    color: #1C1C1C;
}
.dark{
    color: #3B3B3B;
}
.yellow{
    color: #FFE002;
}
.orange{
    color: #FFB606;
}
.darkorange{
    color: #B28228;
}

html, body {
    margin: 0;
    height: 100%;
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 1.3vh;
}

.noDisplay{
    display: none;
}

.flexCenterContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.container{
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.loremContainer{
    flex-grow: 2;
    width: 100%;
}
.loremContainer>span{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 5%;
    border: 1px solid black;
    border-radius: 20px;
}

.leftSection{
    flex-grow: 3;
}

.rightSection{
    flex-grow: 2;
}

.container1{
    margin: 0px 6%;
    height: 80%;
    width: 50%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.bar{
    height: 60%;
    width: 2px;
    background-color: #1C1C1C;
}

.container1_1{
    flex-grow: 1;
    width: 100%;
}

.container1_2{
    flex-grow: 1;
    width: 100%;
}

.container1_3{
    flex-grow: 20;
    width: 100%;
}

.container1_1_1{
    height: 100%;
    width: 50%;
}

.container1_3_1{
    padding: 12% 10%;
    width: 60%;
    justify-content: center;
    border-radius: 20px;
    background-color: #00000014;
    box-shadow: 9px 11px 0px rgba(0,0,0,0.2);
}

.flexLeftTitle{
    flex-grow: 2;
    align-self: flex-start;
    width: 80%;
}

.flexRightTitle{
    flex-grow: 1;
    align-self: flex-end;
    width: 60%;
}

.textInputContainer{
    width: 100%;
    margin-top: 15%;
}

.submitContainer{
    width: 100%;
}

.autoDimension{
    width: 100%;
    height: 100%;
}

input[type=submit].autoDimension{
    width: 40%;
    margin: 10%;
}

.THUNDER{
    font-size: 5vw;
    text-shadow: 9px 11px 0px rgba(0,0,0,0.2);
}

.LogInFrase{
    font-size: 1.1vw;
}

.LogInLabel{
    font-size: 2vw;
}
