/*debugging
*{
    border: 1px red solid;
}
*/

html, body {
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 1.3vh;
}

.right{
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    width: 35%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
.right>div{
    height: 80%;
    border-left: 2px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
}
.Lorem{
    width: 80%;
    margin: 0 auto 7vh auto;
}
.buttonContainer{
    display: flex;
    justify-content: center;
}
input[type=submit]{
    height: 6vh;
    background-color: white;
    border: 2px black solid;
    padding: 2vh 2vw;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
    transition: 0.5s;
}
input[type=submit]:hover{
    background-color: black;
    color: white;
    box-shadow: 8px 8px 0px 0px rgba(0,0,0,0.2);
}

.left{
    width: 65%;
    border-right: 2px solid black;
}
.topMask{
    position:fixed;
    top:0;
    left: 0;
    right: 0;
    height: 10%;
    background-color: white;
}
.topGradient{
    position: fixed;
    top: 10%;
    height: 10%;
    width: 65%;
    background: linear-gradient(180deg, rgba(255,255,255,1) 00%, rgba(255,255,255,0) 100%);
}
.bottomGradient{
    position: fixed;
    bottom: 10%;
    height: 20%;
    width: 65%;
    background: linear-gradient(0deg, rgba(255,255,255,1) 00%, rgba(255,255,255,1) 43%, rgba(255,255,255,0) 100%);
}
.bottomMask{
    position:fixed;
    bottom:0;
    left: 0;
    right: 0;
    height: 10%;
    background-color: white;
}
.clientNameContainer{
    position: fixed;
    right: 35%;
    top: 10%;
    background-color: black;
    color: white;
    padding: 1% 2%;
    z-index: 100;
}
.quotationsContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
}
.spacer{
    height: 14vh;
    width: 100%;
}
.quotationContainer{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    width: 100%;
    height: 20vh;
    margin-right: 0px;
    transition: 0.3s;
    padding-bottom: 4vh;
}
.quotationContainer:hover{
    background: linear-gradient(90deg, rgba(0,0,0,0.2) 00%, rgba(255,255,255,1) 64%, rgba(255,255,255,1) 92%, rgba(0,0,0,0.1) 100%);
    margin-right: 100px;
    height: 22vh;
}
.quotationImage{
    width: 10%;
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.quotationImage>img{
    max-width: 70%;
    max-height: 70%;
    display: block;
}
.quotationInfo{
    width: 10%;
    flex-grow: 3;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.quotationName{
    display: flex;
    flex-flow: row-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-grow: 1;
}
.quotationName>span{
    text-align: center;
    margin: auto 0;
    font-size: 3vh;
}
.options{
    flex-grow: 2;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
}
.optionLabel{
    font-size: 2vh;
}
.option{
    font-family: 'Roboto', sans-serif;
}
.promotionDiv:hover .promotionText{
    opacity: 100%;
}
.promotionOption{
    padding-left: 5px;
    border-left: 4px solid #03e00a;
}
.promotionText{
    font-family: 'Roboto', sans-serif;
    background-color: #03e00a;
    color: white;
    opacity: 0%;
    transition: 0.5s;
    padding-right: 10px;
    padding-left: 5px;
}
.normalText{
	display: none;
}




img{
    max-width: 70%;
    max-height: 70%;
}

.productsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.productContainer{
    width: 20%;
    padding: 5vh 3vw;
    border: 0px solid black;
    transition: 0.2s;
}
.productContainer:hover{
    border: 5px solid black;
}
.productContainer:hover .productInfoContainer{
    opacity: 1;
    background-color: #ffffff;
}
.productInfoContainer{
    opacity: 0;
    position: fixed;
    right: 0;
    top: 10%;
    bottom:10%;
    left:65%;
    transition: 0.2s;
}
.chooseForm{
    opacity: 0;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0%;
}
.productContainer:hover .chooseForm{
    opacity:100;
    padding-top: 3vh;
}
.productInfoFlex{
    height: 100%;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    border-left: 2px solid black;
}
.productName{
    width: 80%;
    margin: 0 auto 7vh auto;
    text-align: center;
}
.noHoveredContainer{
    position: fixed;
    right: 0;
    top: 10%;
    bottom:10%;
    left:65%;
    border-left: 2px solid black;
}
.noHoveredFlex{
    height: 100%;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
}